.css_ljsphma0 { display: flex; 
padding: 1rem; 
flex-direction: column; 
width: 100%; 
height: 100%; 







 }
.css_ljsphma1 { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsphma2 { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsphma3 { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsphma4 { 






 }