.css_ljsq9cd8 { display: flex; 
padding: 1rem; 
flex-direction: column; 
width: 100%; 
height: 100%; 







 }
.css_ljsq9cd9 { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsq9cda { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsq9cdb { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsq9cdc { 






 }