.css_ljsnpo6v { display: flex; 
padding: 1rem; 
flex-direction: column; 
width: 100%; 
height: 100%; 







 }
.css_ljsnpo6w { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsnpo6x { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsnpo6y { display: flex; 
padding: 0.5rem; 
margin-bottom: 0.25rem; 
flex-direction: column; 







 }
.css_ljsnpo6z { 






 }