.css_ljieopyn { padding: 1rem; 
height: 100%; 







 }
.css_ljieopyo { 






 }
.css_ljieopyp { font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 







 }
.css_ljieopyq { display: flex; 
padding: 1rem; 
margin-top: 0.5rem;
margin-bottom: 0.5rem; 
border-radius: 0.5rem; 
border-width: 1px; 







 }
.css_ljieopyr { font-weight: 600; 







 }
.css_ljieopys { 






 }
.css_ljieopyt { display: flex; 
padding: 1rem; 
margin-top: 0.5rem;
margin-bottom: 0.5rem; 
flex-direction: column; 
border-radius: 0.5rem; 
border-width: 1px; 


@media (min-width: 768px) { 
  display: flex; 
flex-direction: row; 
 }




 }
.css_ljieopyu { font-weight: 600; 







 }
.css_ljieopyv { width: 100%; 







 }
.css_ljieopyw { width: 100%; 







 }
.css_ljieopyx { padding: 1rem; 
margin-top: 0.5rem;
margin-bottom: 0.5rem; 
border-radius: 0.5rem; 
border-width: 1px; 







 }
.css_ljieopyy { font-weight: 600; 







 }
.css_ljieopyz { padding-top: 0.5rem;
padding-bottom: 0.5rem; 
font-size: 0.75rem;
line-height: 1rem; 







 }
.css_ljieopz0 { display: flex; 







 }
.css_ljieopz1 { 






 }
.css_ljieopz2 { 






 }
.css_ljieopz3 { 






 }
.css_ljieopz4 { padding: 1rem; 
margin-top: 0.5rem;
margin-bottom: 0.5rem; 
border-radius: 0.5rem; 
border-width: 1px; 







 }
.css_ljieopz5 { font-weight: 600; 







 }
.css_ljieopz6 { padding-top: 0.5rem;
padding-bottom: 0.5rem; 
font-size: 0.75rem;
line-height: 1rem; 







 }
.css_ljieopz7 { display: flex; 
overflow: hidden; 
flex-direction: column; 
width: 100%; 







 }
.css_ljieopz8 { display: flex; 
flex-direction: column; 







 }
.css_ljieopz9 { display: flex; 







 }
.css_ljieopza { padding-top: 0.5rem;
padding-bottom: 0.5rem; 
font-size: 0.75rem;
line-height: 1rem; 







 }
.css_ljieopzb { font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 700; 







 }
.css_ljieopzc { 






 }
.css_ljieopzd { padding-top: 0.5rem;
padding-bottom: 0.5rem; 
font-size: 0.75rem;
line-height: 1rem; 







 }
.css_ljieopze { font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 700; 







 }
.css_ljieopzf { 






 }
.css_ljieopzg { display: flex; 
padding: 1rem; 
margin-top: 0.5rem;
margin-bottom: 0.5rem; 
flex-wrap: wrap; 
border-radius: 0.5rem; 
border-width: 1px; 







 }
.css_ljieopzh { font-weight: 600; 







 }
.css_ljieopzi { padding-top: 0.5rem;
padding-bottom: 0.5rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
width: 100%; 







 }
.css_ljieopzj { 






 }
.css_ljieopzk { 






 }
.css_ljieopzl { display: flex; 







 }
.css_ljieopzm { 






 }
.css_ljieopzn { display: flex; 
padding: 1rem; 
justify-content: center; 







 }
.css_ljieopzo { 






 }